################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.ReportingServices.ReportViewerControl.Winforms.150.1484.0/license
