<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy ="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="BD_GIBDD" connectionString="Data Source=DESKTOP-69SK84S; Initial Catalog=BD_GIBDD; Integrated Security=True; " />
    </connectionStrings>
</configuration>