<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="BD_GIBDD" connectionString="Data Source=DESKTOP-OH62C7G\SQLEXPRESS; Initial Catalog=BD_GIBDD;Integrated Security=True; MultipleActiveResultSets=True"/>
    <add name="GIBDD_AIS.Properties.Settings.BD_GIBDDConnectionString"
      connectionString="Data Source=DESKTOP-OH62C7G\SQLEXPRESS;Initial Catalog=BD_GIBDD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>